body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #f4f4f4;
    color: #333;
}

/* HEADER */
header {
    background: #4b79ff;
    color: white;
    text-align: center;
    padding: 40px 20px;
}

nav {
    display: flex;
    justify-content: center;
    background: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav a {
    padding: 15px 20px;
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #4b79ff;
}

/* SEÇÕES */
section {
    max-width: 900px;
    margin: 40px auto;
    background: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-top: 0;
}

/* PROJETOS */
.projetos-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 20px;
}

.card {
    background: #fdfdfd;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
}

.card a {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 15px;
    background: #4b79ff;
    color: white;
    border-radius: 8px;
    text-decoration: none;
}

.card a:hover {
    background: #3454c8;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    margin-top: 40px;
    color: #666;
}
